// utils
@use 'utils/variables';
@use 'utils/mixins';
@use 'utils/animations';

// base styles
@use 'base/fonts';

// layout
@use 'layout/header';
@use 'layout/footer';

// components
@use 'components/buttons';
@use 'components/titles';
@use 'components/forms';
@use 'components/modal';
@use 'components/page-up';

// blocks
@use 'blocks/promo';
@use 'blocks/benefits';
@use 'blocks/consulation';
@use 'blocks/carousel';
@use 'blocks/catalog';
@use 'blocks/reviews';

.container {
    max-width: 950px;
    margin: 0 auto;
}

@media screen and (max-width: 992px) {
    .container {
        max-width: 850px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 650px;
    }
}

@media screen and (max-width: 576px) {
    .container {
        max-width: 500px;
    }
}