// utils
@use 'utils/variables';
@use 'utils/mixins';

// base styles
@use 'base/fonts';

// layout
@use 'layout/header';

// components
@use 'components/buttons';

// pages
@use 'pages/promo';
@use 'pages/benefits';

// libs
@use '../sass/libs/fontello.css';

.container {
    max-width: 950px;
    margin: 0 auto;
}

@media screen and (max-width: 992px) {
    .container {
        max-width: 850px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 650px;
    }
}

@media screen and (max-width: 576px) {
    .container {
        max-width: 500px;
    }
}